Tools/mkgen/Resources/Templates/Schema.rng.mustache

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">

    <!-- 
        Root of the document.
    -->
    <start>
        <ref name="RootElement"/>
    </start>

    <!-- 
        The root element can only be one of the known MarkupKit elements, 
        or a <root> element. 
    -->
    <define name="RootElement">
        <choice>
            <!-- [GENERATED] References to all known MarkupKit element types. -->
            {{#rootElementReferences}}
            <ref name="{{name}}"/>
            {{/rootElementReferences}}

            <!-- 
                The <root> element can have any attribute (by necessity, as 
                the actual type is only knowable at runtime). Its children
                must be MarkupKitElements.
            -->
            <element name="root">
                <zeroOrMore>
                    <ref name="any_attribute"/>
                </zeroOrMore> 

                <zeroOrMore>
                    <ref name="MarkupKitElements"/>
                </zeroOrMore>
            </element>
        </choice>
    </define>

    <!-- 
    ////////////////////////////////////////////////////////////////////// 
    // MarkupKit Types                                                  //
    ////////////////////////////////////////////////////////////////////// 
    -->

    <!-- 
        References all known MarkupKit element types.
    -->
    <define name="MarkupKitElements">
        <!-- [GENERATED] -->
        {{#markupkitElementReferences}}
        <zeroOrMore>
            <ref name="{{name}}"/>
        </zeroOrMore>
        {{/markupkitElementReferences}}

        <zeroOrMore>
            <ref name="any_element"/>
        </zeroOrMore> 
    </define>

    <!-- [GENERATED] -->
    {{#definitions}}
    <define name="{{name}}">
        <element name="{{name}}">
            {{{body}}}
        </element> 
    </define>
    {{/definitions}}

    <!--
     //////////////////////////////////////////////////////////////////////
     // UIKit Traits                                                     //
     //////////////////////////////////////////////////////////////////////
     -->

    <!-- [GENERATED] -->
    {{#traits}}
    <define name="{{name}}">
        {{#attributes}}
        <zeroOrMore>
            <attribute name="{{name}}"/>
        </zeroOrMore>
        {{/attributes}}
    </define>
    {{/traits}}

    <!--
    ////////////////////////////////////////////////////////////////////// 
    // Wildcard types                                                   //
    ////////////////////////////////////////////////////////////////////// 
    -->

    <!-- 
        Any individual element.
    -->
    <define name="any_element">
        <element>
            <anyName>
                <!-- 
                    References all known MarkupKit element type names here.
                    This mechanism allows unknown types to be used, while still
                    type checking MarkupKit elements.
                -->
                 <except>
                    <!-- [GENERATED] -->
                    {{#anyExclusions}}
                    <name>{{name}}</name>
                    {{/anyExclusions}}
                </except> 
            </anyName>

            <zeroOrMore>
                <ref name="any_attribute"/>
            </zeroOrMore>

            <zeroOrMore>
                <ref name="any_content"/>
            </zeroOrMore>
        </element>
    </define>

    <!-- 
        Any contiguous collection of elements.
    -->
    <define name="any_content">
        <interleave>
            <zeroOrMore>
                <ref name="any_element"/>
            </zeroOrMore>
            <text/>
        </interleave>
    </define>

    <!--
        Any attribute.
    -->
    <define name="any_attribute">
        <attribute>
            <anyName/>
        </attribute>
    </define>

</grammar>
